# Ignore virtual environment folder
.venv

# Ignore Metadata
metadata

# Ignore Large files
/Datasets/Raw-Data/Police-Data/*
/Datasets/Raw-Data/Police-Data/police_data_2020_2022.zip
/Datasets/Raw-Data/Police-Data/police_data_2022_2024.zip
/Datasets/Raw-Data/Unemployment-Data/Unemployment_Data_2021.zip

/Datasets/Data-For-Processing/Police-Data/*